body {
    background-color: rgba(242, 245, 255, 0.801);

}

h1,h2,p,li{
    color: rgba(92, 90, 90, 0.74);
    font-family: didot;

}

h1,h2 {
    text-align: center;
}

#profilepic {
    max-width: 300px;
}

.column {
    float: left;
    width: 50%;
    margin: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}